body {
  background: #f6f6f6;
}

.App .weather-app {
  background: #fff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 3px;
}