.forecast-information {
  margin-bottom: 20px;
  text-align: center;
}
.forecast-day {
  font-size: 14px;
  color: #6c6c6c;
  margin: 4px 0px;

}

.forecast-temp {
  font-size: 15px;
  font-weight: 600;
  margin: 4px 0px;
}

.forecast-temp-min {
  color: #6c6c6c;
}

.forecast-description {
  font-size: 11px;
  font-style: italic;
  color: #6c6c6c;
}

.forecast-description:first-letter {
  text-transform: capitalize;
}

.Forecast img {
  height: 30px;
  width: 30px;
}